<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'addStory/styles.css' %}">
    <title>Quotes</title>
</head>
<body>
    <h1>Quotes</h1>
    <ol  class = "quote-list">
        {% for q in quotes %}
        <li>{{ q.quote }} - {{ q.author }}</li>
        {% endfor %}
    </ol>

    <a href="{% url 'add' %}"><button>Share your quote!</button></a>
</body>
</html>